* {
    padding: 0;
    margin: 0;
}

body {
    width: 99%;
    height: 97%;
    background: url("img/background.jpg");
    background-size: cover;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 40px;
}

.logo {
    font-size: 50px;
    color:blue;
    font-style: italic;
}

.nav {
    position: relative;
    left: -180px;
}

.nav a {
    padding: 5px 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.nav a:hover {
    color: orangered;
    text-decoration: underline;
}

.search {
    font-size: 25px;
    color: aqua;
}

.search i {
    padding: 5px 20px;

}


.heading {
    display: flex;
    justify-content: space-evenly;
    padding: 65px;
    align-items: center;
}

.right {
    width: 440px;
    height: 440px;
    background-image: url("img/food2.jpg");
    background-size: cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.right::before {
    width: 440px;
    height: 440px;
    border: 7px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding: 0px;

}

.para {
    color: rgb(238, 15, 138);
    font-size: 35px;
    letter-spacing: 1px;
    font-style: italic;
}

.para2 {
    font-size: 90px;
    color: white;
}


.btn {

    width: 128px;
    height: 33px;
    font-size: 15px;
    border-radius: 19px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin: 20px 0px;
}


.socialmidia {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 200px;
    font-size: 25px;
    color: white;
}

.socialmidia i:hover {
    color: red;
}


#food1,#food2{
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0px 20px;
    border: 5px solid blue;
}

#food1{
    background-image: url("img/food2.jpg");
}

#food2{
    background-image: url("img/food3.jpg");
}

.menu{
    display: flex;
    margin: 0 100px;
}